<html>
<h2>Add product</h2>

<form action='add_product'>PRODUCT<input name='name'>CATEGORY
    <select name='category'>
        <option>.Name</option>
    </select>

    PRICE<input name='price'><input type='submit' value='Add'></form>

<a href="/">Home</a> <a href="/product_form">Add product</a> <a href="/products">Show products</a> <a href='/supplier_form'>Add supplier</a> <a href='/suppliers'>Show suppliers</a> <a href='/category_form'>Add category</a> <a href='/category'>Show category</a>


</html>