<h2>Add supplier</h2>

<form action='add_supplier'>
    <label for='name'>Name:</label>
    <input name='name' id='name'/>
    <label for='delivery_day'>Delivery day:</label>
    <select name="delivery_day" id="delivery_day">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>Saturday</option>
        <option>Sunday</option>
    </select>
    <input type='submit' value='Add'/>
</form>

<a href="/">Home</a> <a href="/product_form">Add product</a> <a href="/products">Show products</a> <a href='/supplier_form'>Add supplier</a> <a href='/suppliers'>Show suppliers</a> <a href='/category_form'>Add category</a> <a href='/category'>Show category</a>

